[submodule "SegmentFault/Support/SlimeRefresh"]
	path = SegmentFault/Support/SlimeRefresh
	url = https://github.com/dbsGen/SlimeRefresh.git
[submodule "SegmentFault/Support/AFNetworking"]
	path = SegmentFault/Support/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "SegmentFault/Support/Kache"]
	path = SegmentFault/Support/Kache
	url = https://github.com/gaosboy/kache.git
[submodule "SegmentFault/Support/URLManager"]
	path = SegmentFault/Support/URLManager
	url = https://github.com/gaosboy/urlmanager.git
[submodule "SegmentFault/Support/JSONKit"]
	path = SegmentFault/Support/JSONKit
	url = https://github.com/johnezang/JSONKit.git
[submodule "SegmentFault/Support/GTM"]
	path = SegmentFault/Support/GTM
	url = git://github.com/innerfence/google-toolbox-for-mac.git
